
/* .{
    color: #af762f;
    color: #f5cf8e;
    color: #f9f7f8;
    color: #dfd9dd;
    color: #bea28c;
}  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header --------------------------------------------------------------------*/

header{
    width: 100vw;
    height: 40px;
    background-color: #dfd9dd;
    text-align: right;
    border-bottom: solid #bea28c 3px;
}



/* main --------------------------------------------------------------------*/

main{
    background-color: #f9f7f8;
    height: 100%;
    text-align: center;
}

.entradas{
    background-color: #f9f7f8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: solid #af762f 1px;
    width: 90%;
    margin: 20px auto 20px;

}

.imagenes{
    padding: 10px;
    text-align: center;

}

.logo{
    width: 80%;
    border: solid #af762f 1px;
    margin: 10px;
}


@media (min-width: 240px){

    .logo{
        width: 200px;
        border: solid #af762f 1px;
        margin: 10px;
    } 
}




.animation{
    background-image: url('../images/icon-heart-rotated.svg');
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 73px;
    margin: 10px;
}

.animation img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    animation-name: spin;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
.marca{
    margin: 20px;

}


#nombre ,#contraseña{

    margin: 10px;
    border: none;
    height: 25px;
    width: 80%;
    border-radius:5px;
    padding-left: 20px;
    max-width: 700px;
    border: solid #af762f 1px;
}

.registrarse{
    margin: 10px;
    border: none;
    height: 35px;
    width: 40%;
    border-radius:5px;
    min-width: 100px;
    background-color: #af762f;
    color: white;
    font-weight: bold;
}


.input{
    width: 80%;
    max-width: 700px;
    text-align: left;
    position: relative;
    left: 30px;
}



@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }


/* footer -------------------------------*/

footer {
    background-color: #dfd9dd;
}

.footer-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 2rem 0.5rem;
}

.footer-container i {
font-size: 2rem;
padding: 0 0.5rem;
}

.contact-info{
    padding: 10px;
}

.copy-right{
    padding: 10px;
}

.social-media{
    padding: 10px;
}

@media (min-width: 560px) {

    footer {
        background-color: #dfd9dd;
      }
      
      .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 0.5rem;
      }
      
      .footer-container i {
        font-size: 2rem;
        padding: 0 0.5rem;
      }
  }





