<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Document</title>
</head>
<body>


    <header>
    </header>

    <main>

        <div class="entradas">
            <div class="imagenes">
                <img src="images/logo.svg" alt="Logo" class = "logo"/>
                <div class="animation">
                    <img src="images/cicle-baked-bread.svg" alt="" srcset="" class="anim">
                </div>
            </div>

            <div class="datos">

                <h2 class = "marca">Digital Cake</h2>

                <form action="/login" method="post">
                  
                  <label for="nombre"></label>
                  <div class = "input">Usuario</div>
                  <input type="text" name="nombre" id="nombre" required>
          
                  <label for="contraseña"></label>
                  <div class = "input">Contraseña</div>
                  <input type="password" name="contraseña" id="contraseña" required>

                  <h5>¿Olvidó su contrseña?</h5>

                  <div class = "button_container">
                    <button class = "registrarse"> Ingresar
                        <a href="#"></a>
                    </button>
                  </div>



                </form>


            </div>


        </div>




    </main>


    <footer>
        <div class="footer-container">
          <div class="contact-info">
            <p>Phone: 123-456-789</p>
            <p>Email: example@example.com</p>
          </div>
          <div class="copy-right">
            <p>© 2023 Digital Cake</p>
          </div>
          <div class="social-media">
            <div class="social-media-icons">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>